
/* Body */ 
body{
    background-color: #021C1E;
}



/* Hide Some column in big screen */
.hide {
    visibility: hidden;
}





/* Calculater div CSS */
.calculater {
    text-align: center;
    background-color: #021C1E;
    padding: 0;
    height: 100vh;
}


/* Each Button Column CSS */
.cal-row {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0;
}



/* Input CSS */
.display-area {
    width: 80%;
    margin: 0;
    padding: 0;
    text-align: right;
    border: none;
    background-color: #021C1E;
    color: #fff;
    height: 25vh;    
}

.display-area::placeholder{ 
    font-size: 2rem;
    transform: translateY(3rem);
}


/* Button div CSS */
.button-area {
    height: 60vh;
}


.cal-btn {
    color: #fff;
    background-color: #2C7873;
    height: 80px;
    width: 80%;
    border: none;
    font-size: 2rem;
    border-radius: 0;

}

#operater {
    background-color: #6Fb98F;
    color: #fff;
    height: 80px;
    width: 80%;
    border: none;
    font-size: 2rem;
    border-radius: 0;
    
}

.cal-btn:hover,#operater:hover{
    color: white;
}
 

#operater:focus {
    background-color:#fff;
    color: #6Fb98F;
}


.cal-btn:focus{
    outline: none !important;
    box-shadow: none !important;
}

.cal-btn:active {
    background-color: #004445;

    
}




@media only screen and (max-width: 767px) {

    .cal-row {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .calculater {
        margin: 0;
        height: 100vh;

    }

    .hide {
        display: none;
    }
    
    .cal-btn,#operater {
        border-radius: 100%;
        height: 70px !important;
        width: 70px !important;
        padding: 5px !important;
        font-size: 1.5rem;

    }
  }




  /* blue black - 021C1E
     Cadel nlue - 004445
     Rain - 2C7873
    Greenery - 6Fb98F
  */